#background{
    --background: none;
    background-image: url('../components/backgrounds/whiteBg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    --overflow: hidden;
  }    
  
  .flechaIr{
      position: relative;
      width: 46%; height: 5%;
      left: -50px; top: 30px;
      transform: scalex(-1);  
  }
  
  .header{
      position: relative;
      width: 8em; height: 23%;
      top: 9.5%; right: 150%;
      bottom: 0px; left: 0.7em;
      color: #fc4b08;
      font-size: 43px;
      font-weight: 900;
      text-shadow: 0px 1px, 1px 0px;
      text-align: start;
      padding-left: 12px;
  }
  
  .subHeader{
      position: relative;
      width: 17em; height: 2.5em;
      top: -7px; right: 150%;
       left: 2em;
      color: #fc4b08;
      font-size: 17.5px;
      text-align: start;
      padding-left: 9px;
      padding-top: 11px;
      line-height: 1.4;
  }

  #requestContainer {
      text-align: start;
      padding-left: 10px;
      margin-top: 75px;
  }
  
  #requestText{
      position: relative;
      width: 16em; height: 2em;
      top: 7%; right: 150%;
      bottom: auto; left: 9%;
      font-size: 18px;
      color: #bbb;
      padding-top: 15px;
  
  }
  
  #requestInput{
      position: relative;
      width: 75%; left: 8%;
      height: 37px; top: 8%;
      border-radius: 15px;
      border-width: 1px;
      max-width: 70vw;
      --color: #999;
      --background: rgba(68, 68, 68, .23);
      --padding-start: 16px;
      font-family: 'Nexa';
  }
  
  #requestButton{
      width: 135px; 
      height: 37px; 
      font-size: 18px;
      font-style: italic;
      --background: #fc4b08;
      --padding-top: 5px;
      --border-radius: 15px;
      margin-top: 8vh;
  }
  
  #backLogin{
      width: 150px; 
      height: 30px; 
      font-size: 18px;
      color: #fc4b08;
  }

  #backLogin>p>span {
      font-weight: 900;
      font-style: italic;
  }

  #footer {
    margin-top: 18vh;
  }

/* Media query to adapt design to screebs with max-width of 375px*/
@media screen and (max-width: 375px) {
  .flechaIr {
    left: -37px;
    top: 24px;
    height: 3%;
    width: 42%;
  }

  .header {
    font-size: 38px;
    margin-top: 13px;
  }

  .subHeader {
    font-size: 15px;
    padding-top: 13px;
  }

  #requestText {
    font-size: 15px;
    padding-top: 11px;
  }

  #requestInput {
    height: 32px;
    font-size: 15px;
  }

  #requestButton {
    width: 120px;
    height: 33px;
    font-size: 16px;
  }

  #backLogin {
    font-size: 15px;
  }

}


  /*Media query to adapt design to screebs with max-width of 320px*/
  @media screen and (max-width: 320px) {
    .flechaIr {
        left: -37px;
        top: 18px;
        height: 3%;
        width: 42%;
      }
    
      .header {
        font-size: 30px;
        margin-top: 9px;
      }
    
      .subHeader {
        font-size: 13px;
        padding-top: 11px;
      }

      #requestContainer {
          margin-top: 65px;
      }
    
      #requestText {
        font-size: 13px;
      }
    
      #requestInput {
        height: 25px;
        font-size: 13px;
      }
    
      #requestButton {
        width: 120px;
        height: 33px;
        font-size: 16px;
      }
    
      #backLogin {
        font-size: 15px;
      }    
}

  /*Media query to adapt design to screebs with max-width of 360px*/
  @media screen and (min-width: 360px) and (max-height: 640px) {
    #backLogin {
        top: 30vh;
        left: 20vw;
    }
}
    /*Media query to adapt design to screens with min-height of 800px*/
  @media screen and (min-height: 800px) {
    .flechaIr {
      left: -37px;
      top: 24px;
      height: 3%;
      width: 42%;
    }
  
    .header {
      font-size: 43px;
      margin-top: 13px;
    }
  
    .subHeader {
      font-size: 17px;
      padding-top: 20px;
    }
    
    #requestContainer {
      margin-top: 100px;
    }

    #requestText {
      font-size: 17px;
      padding-top: 11px;
    }
  
    #requestInput {
      height: 32px;
      font-size: 17px;
      margin-top: 17px;
    }
  
    #requestButton {
      width: 135px;
      height: 33px;
      font-size: 18px;
      margin-top: 12vh;
    }
  
    #backLogin {
      font-size: 17px;
      margin-top: 0;
    }
  

    /*Media query to adapt design to screens with min-height of 1024px*/
    @media screen and (min-width: 1024px){
        #backlogin {
            position: relative;
            width: 1160px; left: -8.5%;
            height: 40px; top: 30.5%;
            color: rgb(252, 72, 8);
            font-size: 35px;
        }
        .flechaIr{
            position: relative;
            width: 25%; height: 5%;
            left: -50px; top: 70px;
            transform: scalex(-1);  
        }
        .text1{
            position: relative;
            width: 8em; height: 23%;
            top: 6.5%; right: 155%;
            bottom: 0px; left: 0.7em;
            color: #fc4b08;
            font-size: 100px;
        }
        
        .text2{
            position: relative;
            width: 15em; height: 2.5em;
            top: 20px; right: 150%;
             left: 2em;
            color: #fc4b08;
            font-size: 40px;
        }
        .textrequest{
            position: relative;
            width: 16em; height: 2em;
            top: 7%; right: 150%;
            bottom: auto; left: 10%;
            color: #b3b3b3;
            font-size: 40px;
        
        }
        
        .request{
            position: relative;
            width: 75%; left: 9%;
            height: 80px; top: 8%;
            border-radius: 50px;
            border-width: 10px;
            background-color: #b3b3b3;
            opacity: .4;
            color: rgb(48, 48, 48);
        
        
        }
        
        #requestbutton{
            position: relative;
            width: 315px; left: 34%;
            height: 60px; top: 17%;
            --background: rgb(252, 72, 8);
            font-size: 38px;
        }
}
/*Media query to adapt design to screens with min-width of 768px and max-height 1024px*/
@media screen and (min-width: 768px) and (max-height: 1024px){
    #backlogin {
        position: relative;
        width: 1160px; left: -27.5%;
        height: 40px; top: 32.5%;
        color: rgb(252, 72, 8);
        font-size: 26px;
    }
    .flechaIr{
        position: relative;
        width: 32%; height: 7%;
        left: -60px; top: 54px;
        transform: scalex(-1);  
    }
    .text1{
        position: relative;
        width: 8em; height: 23%;
        top: 8.5%; right: 155%;
        bottom: 0px; left: 0.8em;
        color: #fc4b08;
        font-size: 55px;
    }
    
    .text2{
        position: relative;
        width: 15em; height: 2.5em;
        top: 5px; right: 150%;
         left: 2em;
        color: #fc4b08;
        font-size: 25px;
    }
    .textrequest{
        position: relative;
        width: 16em; height: 2em;
        top: 7%; right: 150%;
        bottom: auto; left: 8%;
        color: #b3b3b3;
        font-size: 25px;
    
    }
    
    .request{
        position: relative;
        width: 75%; left: 7%;
        height: 50px; top: 8%;
        border-radius: 50px;
        border-width: 10px;
        background-color: #b3b3b3;
        opacity: .4;
        color: rgb(48, 48, 48);
    
    
    }
    
    #requestbutton{
        position: relative;
        width: 250px; left: 33%;
        height: 45px; top: 17%;
        --background: rgb(252, 72, 8);
        font-size: 22px;
    }
    
}
}



