#background{
    --background: none;
    background-image: url('../components/backgrounds/whiteBg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }    
  
  .text1{
      position: relative;
      width: 8em; height: 23%;
      top: 21.5%; right: 150%;
      bottom: 0px; left: 0.3em;
      color: #fc4b08;
      font-size: 80px;
  }
  
  .text2{
      position: relative;
      width: 15em; height: 2.5em;
      top: 70px; right: 150%;
       left: 1.6em;
      color: #fc4b08;
      font-size: 20px;
  }
  
  .requestUsr{
      position: relative;
      width: 79%; left: 5%;
      height: 35px; top: 16.5%;
      border-radius: 20px;
      border-width: 10px;
      background-color: #b3b3b3;
      opacity: .4;
      color: rgb(48, 48, 48); 
  }

  .requestPsw{
    position: relative;
    width: 79%; left: 5%;
    height: 35px; top: 22.4%;
    border-radius: 20px;
    border-width: 10px;
    background-color: #b3b3b3;
    opacity: .4;
    color: rgb(48, 48, 48); 
}
  
  #loginbutton{
      position: relative;
      width: 110px; left: 2%;
      height: 35px; top: 30.4%;
      font-size: 25px;
      --background: rgb(252, 72, 8);
  }
  
  #forgotPsw{
      position: relative;
      width: 150px; right: -11.5%;
      height: 30px; top: 30.4%;
      font-size: 18px;
      color: rgb(252, 72, 8);
  }

  #signUp{
      position: relative;
      width: 170px; left: 25%;
      height: 45px; top: 40%;
      font-size: 18px;
      color: rgb(252, 72, 8);
  }

/*Media query to adapt design to screens with min-height of 320px*/
@media screen and (max-width: 320px){
    .text1{
      top: 22.1%;
      font-size: 60px;
    }

    .text2{
        top: 59px;
        font-size: 13.5px;
    }

    .requestUsr{
        width: 79%;
        height: 28px;
    }

    .requestPsw{
        width: 79%;
        height: 28px; top: 21.9%;

    }

    #loginbutton{
        width: 90px; left: 0%;
        height: 28px; top: 29.5%;
        font-size: 18px;
    }

    #forgotPsw{
        left: 40%;
        top: 18.3%;
        font-size: 13.5px;
    }
  
    #signUp{
        left: 16%; 
        top: 27%;
        font-size: 13.5px;
    }
}
/*Media query to adapt design to screens with min-width of 1024px*/
@media screen and (min-width: 1024px){
    .text1{
        top: 12%;
        font-size: 200px;
      }
  
      .text2{
          top: 4%;
          font-size: 45px;
      }
  
      .requestUsr{
          width: 79%; height: 80px;
          left:70px; top: 10%;
          font-size: 40px;
          border-radius: 40px;
          border-width: 10px;
      }
  
      .requestPsw{
          width: 79%; height: 80px;
          left: 70px; top: 17%;
          font-size: 40px;
          border-radius: 40px;
          border-width: 10px;
      }
  
      #loginbutton{
          width: 30%; left: 70px;
          height: 80px; top: 24%;
          font-size: 50px;
      }
  
      #forgotPsw{
          width: 37%; height: 55px;
          left: 20%; top: 24%;
          font-size: 40px;
      }
    
      #signUp{
          width: 40%; height: 55px;
          left: 28%; top: 38.5%;
          font-size: 40px;
      }

}
/* Media query to adapt design to screebs with max-width of 375px*/
@media screen and (max-width: 375px) {
     
    .text1{
        position: relative;
        width: 8em; height: 23%;
        top: 10%; right: 150%;
        bottom: 0px; left: 0.3em;
        color: #fc4b08;
        font-size: 65px;
    }
    
    .text2{
        position: relative;
        width: 15em; height: 2.5em;
        top: 1%; left: 24px;
        color: #fc4b08;
        font-size: 18px;
    }
    
    .requestUsr{
        position: relative;
        width: 79%; left: 5%;
        height: 35px; top: 5%;
        border-radius: 20px;
        border-width: 10px;
        background-color: #b3b3b3;
        opacity: .4;
        font-size: 16px;
        color: rgb(48, 48, 48); 
    }
  
    .requestPsw{
      position: relative;
      width: 79%; left: 5%;
      height: 35px; top: 12%;
      border-radius: 20px;
      border-width: 10px;
      background-color: #b3b3b3;
      font-size: 16px;
      color: rgb(48, 48, 48); 
  }
    
    #loginbutton{
        position: relative;
        width: 100px; left: 0%;
        height: 35px; top: 18%;
        font-size: 16px;
        font-style: normal;
        --background: rgb(252, 72, 8);
    }
}

    #forgotPsw{
        position: relative;
        width: 150px; right: -2%;
        height: 30px; top: 31%;
        font-size: 16px;
        color: rgb(252, 72, 8);
<<<<<<< HEAD
}


/*Media query to adapt design to screens with min-height of 800px*/
  @media screen and (min-height: 800px) {

    .text1{
        position: relative;
        width: 8em; height: 23%;
        top: 21.5%; right: 150%;
        bottom: 0px; left: 0.3em;
        color: #fc4b08;
        font-size: 80px;
    }

    #forgotPsw{
        position: relative;
        width: 160px; right: -5.5%;
        height: 30px; top: 30.4%;
        font-size: 18px;
        color: rgb(252, 72, 8);
    }

    #signUp{
        position: relative;
        width: 170px; left: 18%;
        height: 45px; top: 40%;
        font-size: 18px;
        color: rgb(252, 72, 8);
    }
=======
>>>>>>> e135a7b426d0be3c76e7fd8d5298561b752b8634

}

    #signUp{
        position: relative;
        width: 200px; left: 16%;
        height: 45px; top: 35%;
        font-size: 16px;
        color: rgb(252, 72, 8);
}
