/* SCSS file to apply style to the view's structure */

#background {
  --background: url('../components/backgrounds/whiteBg.png') no-repeat center center / cover;
  --overflow: hidden;
}

#form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flechaIr{
  position: relative;
  width: 46%; height: 5%;
  left: -50px; top: 30px;
  transform: scalex(-1);  
}

.headerC{
  position: relative;
  width: 8em; height: 6%; right: 50%;
  bottom: 0px; left: 0.7em;
  color: #fc4b08;
  font-size: 43px;
  font-weight: 900;
  text-shadow: 0px 1px, 1px 0px;
  text-align: start;
  margin-left: 18%;
  padding-top: 35px;
  margin-bottom: 35px;
}

#inputStyle {
    --background: rgba(68, 68, 68, .23);
    border-radius: 15px;
    border-width: 1px;
    --color: #999;
    font-family: 'Nexa';
    max-height: 35px;
    margin: 15px 0;
    max-width: 70vw;
    --padding-start: 16px;
    --padding-top: 15px;
    
  }

#loginLink {
    text-decoration: none;
}

h1 {
    color: #fc4b08;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 10px;
    text-shadow: 0px 1px, 1px 0px;
    transform: scaleY(.95);
    font-family: 'Nexa';
}

#checkboxTerms {
  margin: 12px;
  --size: 25px;
}

#checkboxTerms+p {
  font-size: 12px;
  margin-top: 15px;
}

#myCheckbox {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 25px;
}

#arrowBack {
  height: 65px;
  object-fit: cover;
  object-position: 30px;
  transform: scaleX(-1);
  width: 150px;
}

#imgContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

#signupBtn {
  --border-radius: 15px;
  --background: #fc4b08;
  font-size: 25px;
  height: 45px;
  padding: 5px;
  --padding-top: 5px;
  text-transform: capitalize;
  width: 155px;
}

#loginLink {
  color: #fc4b08;
  font-style: italic;
  font-weight: 900;
  text-shadow: 0px 1px;
}

#footer>p {
  color: #fc4b08;
}

#form #inputStyle {
  text-align: left;
}

#checkboxTerms {
  --background: #ffa360;
  --background-checked: #fc4b08;
  --border-color: #ffa360;
  --border-color-checked: #fc4b08;
}

#termsText {
  color: #ffa360;
  
}

#footer {
  margin-top: 6vh;
}

/* Media query to adapt design to screens with a max-width of 375px */
@media  screen and (max-width: 375px) {
  h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  #inputStyle {
    margin: 10px 0;
  }

  #myCheckbox {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

/* Media query to adapt design to screens with a max-width of 320px */
@media  screen and (max-width: 320px) {
  h1 {
    font-size: 35px;
    margin-top: 0;
  }

  #arrowBack {
    height: 55px;
    width: 140px;
  }

  #checkboxTerms {
    --size: 18px;
  }

  #checkboxTerms+p {
    font-size: 10px;
  }

  #signupBtn {
    font-size: 20px;
    height: 40px;
    width: 125px;
  }

  #footer {
    margin-top: 3vh;
  }
}

/* Media query to adapt design to screens with a min-height of 800px */
@media  screen and (min-height: 800px) {
  #inputStyle {
    margin: 15px 0;
  }

  #myCheckbox {
    margin-bottom: 30px;
    margin-top: 25px;
  }

  #footer {
    margin-top: 10vh;
  }
}

/* Media query to adapt design to screens with a min-width of 1024px */
@media  screen and (min-width: 1024px) {
  #footer {
    margin-top: 4vh;
  }
}

/* Media query to adapt design to screens with a min-width of 768px and max-height of 1024px */
@media  screen and (min-width: 768px) and (max-height: 1024px) {
  #footer {
    margin-top: 6vh;
  }
}
