/* SCSS file to apply style to the view's structure */

#background {
  --background: url('../components/backgrounds/whiteBg.png') no-repeat center center / cover;
  --overflow: hidden;
}

#form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flechaIrRegistrer{
  position: relative;
  width: 40%; height: 4%;
  left: -25px; top: 35px;
  transform: scalex(-1);     
}

.RegisHeader{
  position: relative;
  width: 8em; height: 6%;
  bottom: 0px; left: 0.7em;
  color: #fc4b08;
  font-size: 43px;
  text-align: start;
  text-shadow: 0px 1px, 1px 0px;
  margin-left: 23%;
  padding-top: 3vh;
  margin-bottom: 4vh;
}

#inputStyle {
    --background: rgba(68, 68, 68, .23);
    border-radius: 15px;
    border-width: 1px;
    --color: #999;
    font-family: 'Nexa';
    max-height: 35px;
    margin: 15px 0;
    max-width: 70vw;
    --padding-start: 16px;
    --padding-top: 15px;
    
  }

#loginLink {
    text-decoration: none;
}

#checkboxTerms {
  margin: 12px;
  --size: 25px;
}

#checkboxTerms+p {
  font-size: 12px;
  margin-top: 15px;
}

#myCheckbox {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 25px;
}

#arrowBack {
  height: 65px;
  object-fit: cover;
  object-position: 30px;
  transform: scaleX(-1);
  width: 150px;
}

#imgContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

#signupBtn {
  --border-radius: 15px;
  --background: #fc4b08;
  font-size: 25px;
  height: 45px;
  padding: 5px;
  --padding-top: 5px;
  text-transform: capitalize;
  width: 155px;
}

#loginLink {
  color: #fc4b08;
  font-style: italic;
  font-weight: 900;
  text-shadow: 0px 1px;
}

#footer>p {
  color: #fc4b08;
}

#form #inputStyle {
  text-align: left;
}

#checkboxTerms {
  --background: #ffa360;
  --background-checked: #fc4b08;
  --border-color: #ffa360;
  --border-color-checked: #fc4b08;
}

#termsText {
  color: #ffa360;
  
}

#footer {
  margin-top: 6vh;
}

/* Media query to adapt design to screens with a max-width of 375px */
@media  screen and (min-width: 375px) {
  .RegisHeader{
    left: 18px;
    padding-top: 3vh;
    margin-bottom: 7vh;
  }

  #inputStyle {
    margin: 10px 0;
  }

  #myCheckbox {
    margin-top: 1vh;
    margin-bottom: 4vh;
  }
}

/* Media query to adapt design to screens with a max-width of 320px */
@media  screen and (max-width: 320px) {
  #inputStyle {
    margin: 14px 0;
  }

  .RegisHeader {
    left: 25px;
    font-size: 35px;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }

  .flechaIrRegistrer{
    width: 40%; height: 4%;
    left: -25px; top: 25px;
  }

  #checkboxTerms {
    margin-top: -2vh;
    --size: 18px;
  }

  #checkboxTerms+p {
    margin-top: -2vh;
    font-size: 11px;
  }

  #signupBtn {
    font-size: 18px;
    height: 40px;
    width: 115px;
    margin-top: -3vh;
  }

  #footer {
    font-size: 15px;
    margin-top: 5vh;
  }
}

@media  screen and (min-width: 360px) and (max-width: 370px){
  #inputStyle {
    border-radius: 22px;
    font-size: 17px;
    margin: 17px;
    max-height: 40px;
    max-width: 70vw;
  }

  .RegisHeader {
    left: 20px;
    font-size: 45px;
    margin-top: 2vh;
    margin-bottom: 4.5vh;
  }

  #checkboxTerms {
    margin-top: -2vh;
    --size: 18px;
  }

  #checkboxTerms+p {
    margin-top: -1.5vh;
    font-size: 12px;
  }

  #signupBtn {
    font-size: 18px;
    height: 40px;
    width: 115px;
    margin-top: 2vh;
    margin-bottom: 0vh;
  }

  #footer {
    margin-top: 8vh;
  }
}

@media  screen and (max-height: 640px){
  #inputStyle {
    margin: 14px 0;
  }

  #myCheckbox {
    margin-bottom: 0vh;
    margin-top: 0vh;
  }

  #signupBtn {
    font-size: 18px;
    height: 40px;
    width: 115px;
    margin-top: 2vh;
    margin-bottom: 0vh;
  }

  #footer {
    margin-top: 8vh;
  }
}


@media  screen and (min-width: 400px) and (max-width: 411px){
  .RegisHeader {
    left: 40px;
    font-size: 40px;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }
  
  #inputStyle {
    border-radius: 22px;
    font-size: 17px;
    margin: 17px 0;
    max-height: 40px;
    max-width: 70vw;
  }

  #checkboxTerms {
    margin-top: 2vh;
    --size: 20px;
  }

  #checkboxTerms+p {
    margin-top: 3vh;
    font-size: 14px;
  }

  #signupBtn {
    font-size: 20px;
    height: 45px;
    width: 125px;
    margin-top: 2vh;
    margin-bottom: -3vh;
  }

  #footer {
    font-size: 17px;
    margin-top: 10vh;
  }
}

/* Media query to adapt design to screens with a min-height of 800px */
@media  screen and (min-height: 800px) and (max-height: 819px){
  .RegisHeader {
    left: 18px;
    font-size: 45px;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }
  
  #inputStyle {
    border-radius: 22px;
    font-size: 17px;
    margin: 17px 0;
    max-height: 45px;
    max-width: 75vw;
  }

  #checkboxTerms {
    margin-top: 2vh;
    --size: 20px;
  }

  #checkboxTerms+p {
    margin-top: 3vh;
    font-size: 14px;
  }

  #signupBtn {
    font-size: 20px;
    height: 50px;
    width: 125px;
    margin-top: 2vh;
    margin-bottom: -3vh;
  }

  #footer {
    font-size: 17px;
    margin-top: 10vh;
  }
}

@media  screen and (min-height: 825px) and (max-height: 875px){
  .RegisHeader {
    left: 18px;
    font-size: 45px;
    margin-top: 3vh;
  }
  
  #inputStyle {
    border-radius: 22px;
    font-size: 18px;
    margin: 20px 0;
    max-height: 45px;
    max-width: 75vw;
  }

  #checkboxTerms {
    margin-top: 0vh;
    --size: 20px;
  }

  #checkboxTerms+p {
    margin-top: 1vh;
    font-size: 14px;
  }

  #signupBtn {
    font-size: 20px;
    height: 50px;
    width: 125px;
    margin-top: 0vh;
    margin-bottom: -3vh;
  }

  #footer {
    font-size: 18px;
    margin-top: 10vh;
  }
}

@media  screen and (min-height: 915px) {
  .RegisHeader {
    left: 25px;
    font-size: 50px;
    margin-top: 3vh;
  }
  
  #inputStyle {
    border-radius: 22px;
    font-size: 20px;
    margin: 20px 0;
    max-height: 50px;
    max-width: 75vw;
  }

  #checkboxTerms {
    margin-top: 1vh;
    --size: 22px;
  }

  #checkboxTerms+p {
    margin-top: 1.5vh;
    font-size: 16px;
  }

  #signupBtn {
    font-size: 20px;
    height: 50px;
    width: 125px;
    margin-top: 0vh;
    margin-bottom: -3vh;
  }

  #footer {
    font-size: 20px;
    margin-top: 10vh;
  }
}

/* Media query to adapt design to screens with a min-width of 1024px */
@media  screen and (min-width: 1024px) {
  #footer {
    margin-top: 4vh;
  }
}

/* Media query to adapt design to screens with a min-width of 768px and max-height of 1024px */
@media  screen and (min-width: 768px) and (max-height: 1024px) {
  #footer {
    margin-top: 6vh;
  }
}
